html {
  background-color: black;
  overflow: hidden;
}
div {
  position: absolute;
}

.RightNavBar {
  background-color: #478581;
  width: 250px;
  height: 1080px;
  top: 0px;
  right: 0px;
}

.Trans {
  width: 220px;
  height: 100px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
}
.Cancel {
  background: #ff0000;
}
.PLU {
  background: #ffd000;
}
.UPC {
  background: #ffd000;
}
.TendPay {
  background: #008000;
}
.StatusBox {
  margin-top: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 15px;
  margin-top: 10px;
  width: 220px;
  text-align: center;
  background: #8fbc8f;
}
#TransactionItems {
  position: absolute;
  top: -13px;
  left: 2px;
  overflow-y: scroll;
  width: 100%;
  height: 900px;
}
.TransItems {
  width: 1600px;
  height: 900px;
  background: white;
  top: 140px;
  left: 40px;
  padding: -10px;
}
