html {
  background-color: black;
}
body {
  background-color: black;
  overflow: hidden;
}

.InfoBox {
  position: relative;
  top: -985px;
  left: 1600px;
  width: 200px;
  z-index: 3;
  color: white;
  border: 5px solid #478581;
}
.TopRunner {
  position: flex;
  background: #478581;
  width: 5000px;
  height: 120px;
  margin: -8px -8px;
}

.LeftAscender {
  position: flex;
  background: #478581;
  width: 175px;
  height: 1000px;
  margin: -8px -8px;
}

/*Buttons*/
.StartButton {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 150px;
  left: 200px;
}
.Trans {
  background-color: green;
}
.Ref {
  background-color: red;
  top: 150px;
  left: 375px;
}
.OTill {
  background-color: yellow;
  top: 150px;
  left: 550px;
}
.ATill {
  background-color: yellow;
  top: 150px;
  left: 725px;
}
.CTill {
  background-color: yellow;
  top: 150px;
  left: 900px;
}
.CPull {
  background-color: cyan;
  top: 150px;
  left: 1075px;
}
.NoSale {
  background-color: pink;
  top: 150px;
  left: 1250px;
}
.PaidI {
  background-color: purple;
  top: 150px;
  left: 1425px;
}
.PaidO {
  background-color: purple;
  top: 325px;
  left: 200px;
}
.ViewDB {
  background-color: orange;
  top: 325px;
  left: 375px;
}
.VSource {
  background-color: cornflowerblue;
  top: 325px;
  left: 725px;
}
.NewEmp {
  background-color: cornflowerblue;
  top: 325px;
  left: 550px;
}

.CosignR {
  position: absolute;
  width: 100px;
  height: 20px;
  top: 40px;
  left: 1700px;
  border-radius: 20px;
}

.CoSignE {
  position: absolute;
  width: 100px;
  height: 20px;
  top: 40px;
  left: 1700px;
  border-radius: 20px;
}
